gcloud_key       = "{{ GCLOUD_KEY }}"
gcp_project      = "{{ GCP_PROJECT }}"
gcp_region       = "{{ GCP_REGION }}"
k8s_cluster_name = "{{ K8S_CLUSTER_NAME }}"
k8s_cluster_zone = "{{ K8S_CLUSTER_ZONE }}"
k8s_node_type    = "{{ K8S_NODE_TYPE }}"
k8s_node_count   = "{{ K8S_NODE_COUNT }}"